<div class="container">
  <h3 class="d-flex justify-content-center">Angular 12 Front End</h3>
  <nav class="navbar navbar-expand-sm bg-light navbar-dark">
    <ul class="navbar-nav me-auto">
      <li class="nav-item">
        <button
          routerLink="home"
          class="m-1 btn btn-light btn-outline-primary"
          Button
        >
          Home
        </button>
      </li>
      <li class="nav-item">
        <button
          routerLink="department"
          class="m-1 btn btn-light btn-outline-primary"
          Button
        >
          Department
        </button>
      </li>
      <li class="nav-item">
        <button
          routerLink="employee"
          class="m-1 btn btn-light btn-outline-primary"
          Button
        >
          Employee
        </button>
      </li>
    </ul>
    <div class="d-flex">
      <div class="input-group mb-3">
        <span class="input-group-text">Database Source</span>
        <select class="form-select" [ngModel]="DbSource" (ngModelChange)="onChange($event)">
          <option *ngFor="let src of sources">
            {{ src }}
          </option>
        </select>
      </div>
    </div>
  </nav>
  <router-outlet></router-outlet>
</div>
